<div class="mob-container">



<header class="nav-bar">
  <img src="../assets/images/logo.png" alt="Logo">
  <nav>
      <a href="#" style="    border-bottom: 3px solid red;">Our Services</a>
      <a href="#">About</a>
      <a href="#">Blog & News</a>
      <a href="#">Contact</a>
      <a href="#">Account</a>
  </nav>
  <div class="contact-info">
      <span>&#128222; +2349067322844</span>
  </div>
</header>

<section class="hero-section mobile-ection" style="height: 512px;justify-content: space-evenly;">
  <div class="text-content">
      <h1 style="text-align: left !important;">Premium Web Hosting for Your Website</h1><br><br>
      <p style="text-align: left !important;color: grey;">Blazing fast web hosting for individuals and <br>businesses of all sizes backed by 24×7×365 Support.</p>
      <br><br>
      <div class="buttons" style="justify-content: start;">
          <a href="#" class="create-account">Create an Account</a>
          <a href="#" class="choose-plan">Choose your plan</a>
      </div>
  </div>
  <div class="image-content">
      <img src="../assets/images/homeImage.png" alt="Web Hosting" width="552px" height="auto">
  </div>
</section>

<section class="features-section">
  <div class="left-content">
      <h2 style="font-size: 50px;text-align: left">True Cloud Web Hosting</h2>
      <p style="text-align: left">True Cloud Web Hosting All of the hosting packages we offer are <br>deployed instantly on our SSD powered cloud. We don’t use<br>dedicated servers that operate on single pieces of hardware. Our <br>entire infrastructure is built to be reliable, secure, and scalable.</p>
  </div>
  <div class="right-content">
      <div class="logos" style="flex-direction: row;justify-content: space-around;">
          <img src="../assets/images/cpanel.png" alt="cPanel">
          <img src="../assets/images/secure.png" alt="Imunify360">
          <img src="../assets/images/liteSpeed.png" alt="LiteSpeed">
      </div>
      <div class="logos" style="flex-direction: row;justify-content: space-around;">
          <img src="../assets/images/soft.png" alt="Softaculous">
          <img src="../assets/images/wordPress.png" alt="WordPress">
          <img src="../assets/images/cloudFare.png" alt="Cloudflare">
      </div>
  </div>
</section> 


<div class="container">
  <div class="card">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2v-2h2v2z"/></svg>
    </div>
    <h2>99.9% Uptime</h2>
    <p>We Keep Your Web build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
  </div>
  <div class="card">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2v-2h2v2z"/></svg>
    </div>
    <h2>Blazing Fast Web Hosting</h2>
    <p>We Keep Your Web build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
  </div>
  <div class="card">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2v-2h2v2z"/></svg>
    </div>
    <h2>Free SSL Certificates</h2>
    <p>We Keep Your Web build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
  </div>
  <div class="card">
    <div class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2v-2h2v2z"/></svg>
    </div>
    <h2>24x7 Friendly Support</h2>
    <p>We Keep Your Web build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
  </div>
</div> 


<div class="radio-container" style="   text-align: center;padding: 20px;">
  <h1 style="font-size: 50px; margin: 30px 0px;">Ready to get started with<br  > Lemon Wares?</h1>
  <h2 style="    font-size: 30px;
margin: 30px 0px;">Choose the package that suits you</h2>

 <div>
<span>
  <label style="font-size: 30px;">
    Monthly
  </label>
  <button class="toggle-button" [ngClass]="{ 'on': isYearly, 'off': !isYearly }" (click)="toggleButton()">
  </button>
  <label style="font-size: 30px;">
    Yearly
  </label>
  <label style="font-size: 10px;">
    (20% discount)
  </label>

  
</span>




</div> 

  
  <div class="container-basic" style="display: flex; flex-direction: row;justify-content: center;margin: 30px 0px;">
      <div class="label" style="padding: 0px 100px; border-bottom: 3px solid red;">Basic</div>
      <div class="label" style="padding: 0px 100px;  border-bottom: 3px solid rgb(255, 200, 200);">Premium</div>
      
    </div>


</div> 

<div style="display: flex;justify-content: space-evenly;">
   
  <div class="pricing-table">
      <h2>Starter</h2>
      <p>with all your customers via all conversation channels in one central dashboard.</p>
      <div class="price">{{ displayPrices.starter | number:'1.2-2' }} </div>
      <div class="period">per {{ isYearly ? 'year' : 'month' }}</div>
      <button class="button">Choose this Plan</button>
      <ul class="features">
      <li><i class="fas fa-check"></i> 2GB SSD</li>
      <li><i class="fas fa-check"></i> 10GB Bandwidth</li>
      <li><i class="fas fa-check"></i> 15 Email Accounts</li>
      <li><i class="fas fa-check"></i> Unlimited Database</li>
      <li><i class="fas fa-check"></i> 4 Subdomains</li>
      <li><i class="fas fa-check"></i> 1 Parked Domain</li>
      <li><i class="fas fa-check"></i> 2 Websites</li>
      <li><i class="fas fa-check"></i> Free SSL</li>
      <li><i class="fas fa-check"></i> Softaculous</li>
      </ul>
  </div> 

  <div class="pricing-table">
      <h2>Standard</h2>
      <p>with all your customers via all conversation channels in one central dashboard.</p>
      <div class="price">{{ displayPrices.standard | number:'1.2-2' }} </div>
      <div class="period">per {{ isYearly ? 'year' : 'month' }}</div>
      <button class="button">Choose this Plan</button>
      <ul class="features">
      <li><i class="fas fa-check"></i> 2GB SSD</li>
      <li><i class="fas fa-check"></i> 10GB Bandwidth</li>
      <li><i class="fas fa-check"></i> 15 Email Accounts</li>
      <li><i class="fas fa-check"></i> Unlimited Database</li>
      <li><i class="fas fa-check"></i> 4 Subdomains</li>
      <li><i class="fas fa-check"></i> 1 Parked Domain</li>
      <li><i class="fas fa-check"></i> 2 Websites</li>
      <li><i class="fas fa-check"></i> Free SSL</li>
      <li><i class="fas fa-check"></i> Softaculous</li>
      </ul>
  </div> 

  <div class="pricing-table">
      <h2>Suprem</h2>
      <p>with all your customers via all conversation channels in one central dashboard.</p>
      <div class="price">{{ displayPrices.suprem | number:'1.2-2' }} </div>
      <div class="period">per {{ isYearly ? 'year' : 'month' }}</div>
      <button class="button">Choose this Plan</button>
      <ul class="features">
      <li><i class="fas fa-check"></i> 2GB SSD</li>
      <li><i class="fas fa-check"></i> 10GB Bandwidth</li>
      <li><i class="fas fa-check"></i> 15 Email Accounts</li>
      <li><i class="fas fa-check"></i> Unlimited Database</li>
      <li><i class="fas fa-check"></i> 4 Subdomains</li>
      <li><i class="fas fa-check"></i> 1 Parked Domain</li>
      <li><i class="fas fa-check"></i> 2 Websites</li>
      <li><i class="fas fa-check"></i> Free SSL</li>
      <li><i class="fas fa-check"></i> Softaculous</li>
      </ul>
  </div> 

</div>


<div class="containerCard" style="display: flex; flex-direction: row;">
  <div style="row-gap: 35px;display: flex; flex-direction: column;">
      <div class="quote">
          <h1 class="title">Real Stories from <br>Real Customers</h1>
          <p class="subtitle">Get inspired by these stories.</p>
      </div>
      <div class="card-detail">
          <img src="../assets/images/cli.png" alt="CLI logo" class="card-logo" width="150px">
          <div class="card-quote">66 Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet
              luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem</div>
          <h3 class="card-name">Floyd Miles</h3>
          <p class="card-title">Vice President, CLI</p>
      </div>
  </div>
  <div style="display: flex;flex-direction: column;row-gap: 35px; margin-top: 100px;">
  <div class="card-detail">
      <img src="../assets/images/jpnl.png" alt="JPNL logo" class="card-logo" width="150px" height="50px">
      <div class="card-quote">66 Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
          venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elem</div>
      <h3 class="card-name">Jane Cooper</h3>
      <p class="card-title">CEO, JPNL</p>
  </div>
  <div class="card-detail">
      <img src="../assets/images/leevonbrand.png" alt="LeeveOn Branding logo" class="card-logo" width="150px">
      <div class="card-quote">66 LemonWares saved our time in Hosting my company page.</div>
      <h3 class="card-name">Kristin Watson</h3>
      <p class="card-title">Co-Founder, LeeveOn Branding</p>
  </div>
 </div>
</div>


<div class="textImage">
  <div class="text">
    <h1 style="font-size: 50px;">We serve over 100<br> Nigerian Websites</h1>
    <p style="font-size: 20px;">Connect LemonWares with your favourite tools that <br>you use daily and keep things on track.</p>
  </div>
  <div class="logos">
      <img src="../assets/images/bottom.png" alt="Korané Scents" height="auto" width="512px">
  </div>
</div>


<header>
  <div class="hero-section" style="flex-direction: column; width: 100%;">
      <div>
          <h1>We're here to make your<br> website awesome.</h1>

      </div>
      <div>
          <button class="contact-button">
              <!-- <img src="whatsapp-icon.png" alt="WhatsApp">-->
              Get in touch with us 
          </button>

      </div>
  </div>
</header>

<footer>
  <div class="footer-container">
      <div class="footer-logo">
          <img src="../assets/images/bottomlogo.png" alt="Company Logo">
          <p style="line-height: 35px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis.</p>
      </div>
      <div class="footer-links">
          <div class="footer-column">
              <h3>Service</h3>
              <ul>
                  <li>Domain</li>
                  <li>Shared Hosting</li>
                  <li>Cloud Hosting</li>
                  <li>Private Hosting</li>
              </ul>
          </div>
          <div class="footer-column">
              <h3>Hosting</h3>
              <ul>
                  <li>Cheap Hosting</li>
                  <li>Hosting Wordpress</li>
                  <li>Email Hosting</li>
                  <li>Hosting Unlimited</li>
              </ul>
          </div>
          <div class="footer-column">
              <h3>Company</h3>
              <ul>
                  <li>About</li>
                  <li>Career</li>
                  <li>Contact Us</li>
              </ul>
          </div>
          <div class="footer-column">
              <h3>Help</h3>
              <ul>
                  <li>FAQ</li>
                  <li>Help Support</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div style="margin-left: 100px;">
          <p style="text-align: left;color: white;">Built by Jeremiah with <span class="heart">&hearts;</span> in Lagos. Copyright 2021</p>
      </div>
      <div>

      </div>
  </div>
  
</footer>

</div>




<router-outlet />
